    div,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    
    .hll {
        background-color: #ffffcc;
    }
    /*{ background: #f0f3f3; }*/
    
    .c {
        color: #999;
    }
    /* Comment */
    
    .err {
        color: #AA0000;
        background-color: #FFAAAA;
    }
    /* Error */
    
    .k {
        color: #006699;
    }
    /* Keyword */
    
    .o {
        color: #555555;
    }
    /* Operator */
    
    .cm {
        color: #999;
    }
    /* Comment.Multiline */
    /* Edited to remove italics and make into comment */
    
    .cp {
        color: #009999;
    }
    /* Comment.Preproc */
    
    .c1 {
        color: #999;
    }
    /* Comment.Single */
    
    .cs {
        color: #999;
    }
    /* Comment.Special */
    
    .gd {
        background-color: #FFCCCC;
        border: 1px solid #CC0000;
    }
    /* Generic.Deleted */
    
    .ge {
        font-style: italic;
    }
    /* Generic.Emph */
    
    .gr {
        color: #FF0000;
    }
    /* Generic.Error */
    
    .gh {
        color: #003300;
    }
    /* Generic.Heading */
    
    .gi {
        background-color: #CCFFCC;
        border: 1px solid #00CC00;
    }
    /* Generic.Inserted */
    
    .go {
        color: #AAAAAA;
    }
    /* Generic.Output */
    
    .gp {
        color: #000099;
    }
    /* Generic.Prompt */
    /* Generic.Strong */
    
    .gu {
        color: #003300;
    }
    /* Generic.Subheading */
    
    .gt {
        color: #99CC66;
    }
    /* Generic.Traceback */
    
    .kc {
        color: #006699;
    }
    /* Keyword.Constant */
    
    .kd {
        color: #006699;
    }
    /* Keyword.Declaration */
    
    .kn {
        color: #006699;
    }
    /* Keyword.Namespace */
    
    .kp {
        color: #006699;
    }
    /* Keyword.Pseudo */
    
    .kr {
        color: #006699;
    }
    /* Keyword.Reserved */
    
    .kt {
        color: #007788;
    }
    /* Keyword.Type */
    
    .m {
        color: #FF6600;
    }
    /* Literal.Number */
    
    .s {
        color: #d44950;
    }
    /* Literal.String */
    
    .na {
        color: #4f9fcf;
    }
    /* Name.Attribute */
    
    .nb {
        color: #336666;
    }
    /* Name.Builtin */
    
    .nc {
        color: #00AA88;
    }
    /* Name.Class */
    
    .no {
        color: #336600;
    }
    /* Name.Constant */
    
    .nd {
        color: #9999FF;
    }
    /* Name.Decorator */
    
    .ni {
        color: #999999;
    }
    /* Name.Entity */
    
    .ne {
        color: #CC0000;
    }
    /* Name.Exception */
    
    .nf {
        color: #CC00FF;
    }
    /* Name.Function */
    
    .nl {
        color: #9999FF;
    }
    /* Name.Label */
    
    .nn {
        color: #00CCFF;
    }
    /* Name.Namespace */
    
    .nt {
        color: #2f6f9f;
    }
    /* Name.Tag */
    
    .nv {
        color: #003333;
    }
    /* Name.Variable */
    
    .ow {
        color: #000000;
    }
    /* Operator.Word */
    
    .w {
        color: #bbbbbb;
    }
    /* Text.Whitespace */
    
    .mf {
        color: #FF6600;
    }
    /* Literal.Number.Float */
    
    .mh {
        color: #FF6600;
    }
    /* Literal.Number.Hex */
    
    .mi {
        color: #FF6600;
    }
    /* Literal.Number.Integer */
    
    .mo {
        color: #FF6600;
    }
    /* Literal.Number.Oct */
    
    .sb {
        color: #CC3300;
    }
    /* Literal.String.Backtick */
    
    .sc {
        color: #CC3300;
    }
    /* Literal.String.Char */
    
    .sd {
        color: #CC3300;
        font-style: italic;
    }
    /* Literal.String.Doc */
    
    .s2 {
        color: #CC3300;
    }
    /* Literal.String.Double */
    
    .se {
        color: #CC3300;
    }
    /* Literal.String.Escape */
    
    .sh {
        color: #CC3300;
    }
    /* Literal.String.Heredoc */
    
    .si {
        color: #AA0000;
    }
    /* Literal.String.Interpol */
    
    .sx {
        color: #CC3300;
    }
    /* Literal.String.Other */
    
    .sr {
        color: #33AAAA;
    }
    /* Literal.String.Regex */
    
    .s1 {
        color: #CC3300;
    }
    /* Literal.String.Single */
    
    .ss {
        color: #FFCC33;
    }
    /* Literal.String.Symbol */
    
    .bp {
        color: #336666;
    }
    /* Name.Builtin.Pseudo */
    
    .vc {
        color: #003333;
    }
    /* Name.Variable.Class */
    
    .vg {
        color: #003333;
    }
    /* Name.Variable.Global */
    
    .vi {
        color: #003333;
    }
    /* Name.Variable.Instance */
    
    .il {
        color: #FF6600;
    }
    /* Literal.Number.Integer.Long */
    
    .css .o,
    .css .o+.nt,
    .css .nt+.nt {
        color: #999;
    }
    
    html {
        height: 100%;
        font-size: 14px;
    }
    
    @media (min-width: 768px) {
        html {
            font-size: 16px;
        }
    }
    
    body {
        position: relative;
        min-height: 100%;
        background: #2F3032;
        -webkit-box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.1), inset 0 0 20px rgba(0, 0, 0, 0.08);
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
    }
    
    h1 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
        letter-spacing: 4px;
    }
    
    @media (min-width: 768px) {
        h1 {
            font-size: 2.375rem;
            line-height: 2.75rem;
        }
    }
    
    p {
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 2rem;
    }
    
    p highlight {
        font-weight: 600;
        color: #4BBB3E;
    }
    
    p:last-child {
        margin-bottom: 0;
    }
    
    code {
        font-size: 0.875rem;
    }
    
    nav.navbar {
        height: 70px;
        background: transparent;
        border: none;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
        will-change: transform;
    }
    
    nav.navbar.show-color {
        background: white;
        -webkit-box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 6px 16px -2px rgba(0, 0, 0, 0.3);
    }
    
    nav.navbar.show-color .navbar-home {
        visibility: visible;
        -webkit-transform: translate(100%, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate(100%, 0);
        transform: translate3d(100%, 0, 0);
        opacity: 1;
    }
    
    .navbar-home {
        visibility: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 70px;
        width: 10%;
        -webkit-transform: translate(100%, -50%);
        -webkit-transform: translate3d(100%, -50%, 0);
        transform: translate(100%, -50%);
        transform: translate3d(100%, -50%, 0);
        -webkit-transition: opacity 0.2s ease-in, visibilit 0.2s ease-in, -webkit-transform 0.2s ease-in;
        transition: opacity 0.2s ease-in, visibilit 0.2s ease-in, -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in, opacity 0.2s ease-in, visibilit 0.2s ease-in;
        transition: transform 0.2s ease-in, opacity 0.2s ease-in, visibilit 0.2s ease-in, -webkit-transform 0.2s ease-in;
        opacity: 0;
    }
    
    .navbar-home svg {
        width: 20px;
        height: 20px;
        fill: #BDC4D0;
    }
    
    .navbar-brand {
        position: relative;
        height: 70px;
        padding: 0 28px 0 15px;
        padding: 0 28px 0 45px;
        font-size: 20px;
        font-weight: 300;
        line-height: 80px;
        letter-spacing: 1px;
        color: #e7e6f1;
        vertical-align: middle;
    }
    
    .navbar-brand:before {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 44px;
        width: 28px;
        background: none;
        border: 2px solid white;
        border-radius: 16px;
        -webkit-transform: translate(0, -50%);
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate(0, -50%);
        transform: translate3d(0, -50%, 0);
    }
    
    .navbar-brand:hover,
    .navbar-brand:focus {
        color: white;
    }
    
    .navbar-brand i.material-icons {
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }
    
    .navbar-toggle {
        height: 70px;
        margin: 0;
        padding: 0 20px;
        color: white;
        border: none;
    }
    
    .navbar-toggle.collapsed {
        color: #e7e6f1;
    }
    
    @media (max-width: 767px) {
        .navbar-collapse {
            background: #e5e4ea;
        }
    }
    
    ul.navbar-nav {
        color: #333;
    }
    
    @media (min-width: 768px) {
        ul.navbar-nav {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            float: none;
            text-align: center;
            color: #BDC4D0;
        }
    }
    
    @media (min-width: 768px) {
        ul.navbar-nav>li {
            float: none;
            display: inline-block;
        }
    }
    
    ul.navbar-nav>li>a {
        padding: 0 20px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 70px;
        letter-spacing: 1px;
        color: currentColor;
    }
    
    ul.navbar-nav>li>a:hover {
        background: rgba(0, 0, 0, 0.15);
    }
    
    ul.navbar-nav>li>a:focus {
        background: rgba(0, 0, 0, 0.2);
    }
    
    @media (max-width: 767px) {
        ul.navbar-nav>li.active {
            background: rgba(0, 0, 0, 0.1);
        }
    }
    
    @media (min-width: 768px) {
        ul.navbar-nav>li.active {
            color: #4BBB3E;
            background: rgba(255, 255, 255, 0.15);
            -webkit-box-shadow: inset 0 -3px 0 0 #4BBB3E;
            box-shadow: inset 0 -3px 0 0 #4BBB3E;
        }
    }
    
    ul.navbar-nav>li.active>a:hover,
    ul.navbar-nav>li.active>a:focus {
        background: none;
    }
    
    section {
        position: relative;
        padding: 30px 0 50px;
        background: white;
    }
    
    section:last-of-type {
        min-height: 20vh;
    }
    
    section.focus .page-header {
        color: #4BBB3E;
    }
    
    section.focus .page-header:after {
        visibility: visible;
        opacity: 1;
    }
    
    .section-header {
        position: relative;
        margin-bottom: 40px;
        font-size: 26px;
        font-weight: 400;
        color: #333;
        text-align: center;
        line-height: 60px;
        letter-spacing: 1px;
    }
    
    .section-header:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 70px;
        height: 2px;
        background: #4BBB3E;
        -webkit-transform: translate(-50%, 0);
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate(-50%, 0);
        transform: translate3d(-50%, 0, 0);
    }
    
    .section-sub-header {
        position: relative;
        margin-bottom: 40px;
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        line-height: 60px;
        letter-spacing: 1px;
    }
    
    .banner .banner-child {
        padding: 25px 15px;
        height: 500px;
    }
    
    .banner .bc-left {
        color: #e7e6f1;
        background: #4BBB3E;
    }
    
    .banner .bc-right {
        color: #333;
        background: #F3F4F8;
    }
    
    .page-header {
        position: relative;
        margin-top: 0;
        margin-bottom: 50px;
        letter-spacing: 1px;
        color: #333;
        -webkit-transition: color 0.2s ease-in;
        transition: color 0.2s ease-in;
    }
    
    .page-header:after {
        visibility: hidden;
        display: block;
        content: "Boom!!! got your focus now ay :-)";
        position: absolute;
        top: 100%;
        padding-top: 25px;
        font-size: 16px;
        -webkit-transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
        transition: opacity 0.2s ease-in, visibility 0.2s ease-in;
        opacity: 0;
    }
    
    footer {
        min-height: 2px;
        position: relative;
        padding: 50px 0 100px;
        font-size: 22px;
        text-align: center;
        letter-spacing: 5px;
        color: #2F3032;
        background: #2F3032;
        margin-bottom: -200px
    }
    
    a.tutorials-link {
        display: block;
        position: relative;
        width: 180px;
        margin: 0 auto 25px;
        padding: 15px 0;
        font-size: 0.875rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        color: #DDDDDD;
        border: 2px solid #DDDDDD;
        -webkit-transition: background 0.2s ease, color 0.2s ease, -webkit-box-shadow 0.2s ease;
        transition: background 0.2s ease, color 0.2s ease, -webkit-box-shadow 0.2s ease;
        transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
        transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
    }
    
    a.tutorials-link:hover {
        color: #e7e6f1;
        background: transparent;
        -webkit-box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.3);
        box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.3);
    }
    
    .scrollTop {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: fixed;
        right: 20px;
        bottom: 20px;
        width: 44px;
        height: 44px;
        text-decoration: none;
        padding: 0;
        color: #e7e6f1;
        background: #4BBB3E;
        border: none;
        border-radius: 100%;
        -webkit-box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        -webkit-transform: translate(0, 80px);
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate(0, 80px);
        transform: translate3d(0, 80px, 0);
        -webkit-transition: -webkit-transform 0.2s ease-in;
        transition: -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in;
        transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
        opacity: 0.7;
    }
    
    .scrollTop:hover {
        color: #e7e6f1;
        opacity: 1;
    }
    
    .scrollTop.show-button {
        -webkit-transform: translate(0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
    }
    
    .scrollTop svg {
        width: 20px;
        height: 20px;
        fill: currentColor;
    }
    
    #home {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: relative;
        min-height: 400px;
        height: 60vh;
        padding: 50px 0;
        /* Layering due to Psuedo overlay */
    }
    
    @media (min-width: 768px) {
        #home {
            height: 80vh;
            min-height: 640px;
        }
    }
    
    #home:before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 400px;
        height: 60vh;
        background-image: url("../images/pexels-photo-131723.jpeg");
        background-image: url("../images/pexels-photo-131723.jpeg");
        background-size: cover;
        background-position: center bottom;
        will-change: transform;
        z-index: 0;
        background-color: rgba(0, 0, 0, .6);
        background-blend-mode: multiply;
    }
    
    @media (min-width: 768px) {
        #home:before {
            height: 80vh;
            min-height: 640px;
        }
    }
    
    #home:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.4));
        z-index: 0;
    }
    
    #home .container {
        z-index: 1;
    }
    
    #home .mouse {
        position: relative;
        width: calc(28px * 2);
        height: calc(44px * 2);
        margin: 0 auto 20px;
        background: none;
        border: 2px solid white;
        border-radius: calc(16px * 2);
        z-index: 1;
    }
    
    @media (min-width: 768px) {
        #home .mouse {
            width: calc(28px * 4);
            height: calc(44px * 4);
            margin: 0 auto 30px;
            background: none;
            border: 2px solid white;
            border-radius: calc(16px * 4);
        }
    }
    
    #home .mouse:after {
        display: block;
        content: "";
        position: absolute;
        top: 10px;
        left: 50%;
        width: calc(5px * 2);
        height: calc(5px * 2);
        background: none;
        border: 2px solid white;
        border-radius: 100%;
        -webkit-animation-name: scrollWheel;
        animation-name: scrollWheel;
        -webkit-animation-duration: 1.4s;
        animation-duration: 1.4s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        will-change: transform;
    }
    
    @media (min-width: 768px) {
        #home .mouse:after {
            position: absolute;
            top: 25px;
            left: 50%;
            width: calc(5px * 4);
            height: calc(5px * 4);
        }
    }
    
    #home h1 {
        text-align: center;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        color: #e7e6f1;
        font-family: 'Comfortaa';
        font-size: 60px;
    }
    
    #home h4 {
        font-size: 28px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
        letter-spacing: 2px;
        color: #4BBB3E;
        font-family: 'Comfortaa';
    }
    
    #home p {
        margin: 0;
        padding: 25px 0;
        text-align: center;
        text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5), 1px 1px 3px rgba(0, 0, 0, 0.3);
        line-height: 26px;
        color: #ffffff;
        font-family: 'Comfortaa';
        font-size: 20px;
    }
    
    #about p {
        text-align: center;
        color: #333;
    }
    
    #demo {
        background: #F3F4F8;
    }
    
    #demo h4 {
        margin-bottom: 20px;
        margin-bottom: 0px;
        font-size: 0.875rem;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 24px;
        letter-spacing: 1px;
        color: #BDC4D0;
    }
    
    #demo .video-roll--container {
        padding: 0;
    }
    
    @media (min-width: 768px) {
        #demo .video-roll--container {
            padding: 0 15px;
        }
    }
    
    #demo .video-roll {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        position: relative;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto 80px;
        padding: 25px 0 0;
        list-style: none;
    }
    
    @media (min-width: 768px) {
        #demo .video-roll {
            margin: 0 auto 120px;
        }
    }
    
    #demo .video-roll:after {
        content: "";
        display: block;
        width: 30%;
        height: 14px;
        margin: -90px auto 0;
        margin: -20px auto 0;
        background: transparent;
        border-radius: 50%;
        -webkit-box-shadow: 0 50px 40px rgba(0, 0, 0, 0.4);
        box-shadow: 0 50px 40px rgba(0, 0, 0, 0.4);
    }
    
    @media (min-width: 768px) {
        #demo .video-roll:after {
            margin: 0px auto 0;
        }
    }
    
    #demo .video-roll li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        position: relative;
        background: transparent;
    }
    
    #demo .video-roll li:before {
        content: "";
        display: block;
        padding-top: 56.25%;
    }
    
    #demo .video-roll li:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: 0px;
        width: 60%;
        height: 14px;
        margin: -90px auto 0;
        background: transparent;
        border-radius: 50%;
        -webkit-box-shadow: 0 50px 40px rgba(0, 0, 0, 0.25);
        box-shadow: 0 50px 40px rgba(0, 0, 0, 0.25);
        -webkit-transform: translate(-50%, 0);
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate(-50%, 0);
        transform: translate3d(-50%, 0, 0);
    }
    
    #demo .video-roll li:first-child {
        visibility: hidden;
        -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
        -webkit-transform: translate(50%, 0);
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate(50%, 0);
        transform: translate3d(50%, 0, 0);
        opacity: 0;
    }
    
    @media (min-width: 768px) {
        #demo .video-roll li:first-child {
            visibility: visible;
            -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
            opacity: 1;
        }
    }
    
    #demo .video-roll li:first-child a {
        background-image: url("../images/Screen Shot 2018-03-27 at 5.06.10 PM.png");
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }
    
    #demo .video-roll li:nth-child(2) {
        -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
        z-index: 2;
    }
    
    @media (min-width: 768px) {
        #demo .video-roll li:nth-child(2) {
            -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
        }
    }
    
    #demo .video-roll li:nth-child(2):after {
        display: none;
    }
    
    #demo .video-roll li:nth-child(2) a {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        background-image: url("../images/Screen Shot 2018-03-27 at 5.07.58 PM.png");
        -webkit-transform-origin: center center;
        transform-origin: center center;
    }
    
    #demo .video-roll li:last-child {
        visibility: hidden;
        -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
        -webkit-transform: translate(-50%, 0);
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate(-50%, 0);
        transform: translate3d(-50%, 0, 0);
        opacity: 0;
    }
    
    @media (min-width: 768px) {
        #demo .video-roll li:last-child {
            visibility: visible;
            -ms-flex-preferred-size: 30%;
            flex-basis: 30%;
            opacity: 1;
        }
    }
    
    #demo .video-roll li:last-child a {
        background-image: url("../images/Screen Shot 2018-03-27 at 5.09.01 PM.png");
        -webkit-transform-origin: right center;
        transform-origin: right center;
    }
    
    #demo .video-roll li a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        -webkit-transform: translate(0, 0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate(0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: -webkit-transform 0.2s ease-out;
        transition: -webkit-transform 0.2s ease-out;
        transition: transform 0.2s ease-out;
        transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
        will-change: transform;
    }
    
    #demo .video-roll li a:hover {
        -webkit-transform: translate(0, -4px);
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate(0, -4px);
        transform: translate3d(0, -4px, 0);
    }
    
    @keyframes scrollWheel {
        from {
            -webkit-transform: translate(-50%, 0);
            -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate(-50%, 0);
            transform: translate3d(-50%, 0, 0);
            opacity: 1;
        }
        to {
            -webkit-transform: translate(-50%, 20px);
            -webkit-transform: translate3d(-50%, 20px, 0);
            transform: translate(-50%, 20px);
            transform: translate3d(-50%, 20px, 0);
            opacity: 0;
        }
    }
    
    @media (min-width: 768px) {
        from {
            -webkit-transform: translate(-50%, 0);
            -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate(-50%, 0);
            transform: translate3d(-50%, 0, 0);
            opacity: 1;
        }
        to {
            -webkit-transform: translate(-50%, 40px);
            -webkit-transform: translate3d(-50%, 40px, 0);
            transform: translate(-50%, 40px);
            transform: translate3d(-50%, 40px, 0);
            opacity: 0;
        }
    }
    
    @-webkit-keyframes scrollDemo {
        from,
        30% {
            -webkit-transform: translate(0, 0px);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate(0, 0px);
            transform: translate3d(0, 0px, 0);
        }
        40%,
        60% {
            -webkit-transform: translate(0, -170px);
            -webkit-transform: translate3d(0, -170px, 0);
            transform: translate(0, -170px);
            transform: translate3d(0, -170px, 0);
        }
        70%,
        90% {
            -webkit-transform: translate(0, -340px);
            -webkit-transform: translate3d(0, -340px, 0);
            transform: translate(0, -340px);
            transform: translate3d(0, -340px, 0);
        }
        to {
            -webkit-transform: translate(0, 0px);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate(0, 0px);
            transform: translate3d(0, 0px, 0);
        }
    }
    
    @keyframes scrollDemo {
        from,
        30% {
            -webkit-transform: translate(0, 0px);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate(0, 0px);
            transform: translate3d(0, 0px, 0);
        }
        40%,
        60% {
            -webkit-transform: translate(0, -170px);
            -webkit-transform: translate3d(0, -170px, 0);
            transform: translate(0, -170px);
            transform: translate3d(0, -170px, 0);
        }
        70%,
        90% {
            -webkit-transform: translate(0, -340px);
            -webkit-transform: translate3d(0, -340px, 0);
            transform: translate(0, -340px);
            transform: translate3d(0, -340px, 0);
        }
        to {
            -webkit-transform: translate(0, 0px);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate(0, 0px);
            transform: translate3d(0, 0px, 0);
        }
    }
    
    @-webkit-keyframes scrollColor-1 {
        from,
        39.9% {
            background: rgba(255, 255, 255, 0.7);
        }
        40%,
        to {
            background: #4BBB3E;
        }
    }
    
    @keyframes scrollColor-1 {
        from,
        39.9% {
            background: rgba(255, 255, 255, 0.7);
        }
        40%,
        to {
            background: #4BBB3E;
        }
    }
    
    @-webkit-keyframes scrollColor-2 {
        from,
        24% {
            background: #4BBB3E;
        }
        24.2%,
        28% {
            background: #4BBB3E;
        }
        28.2%,
        39.9% {
            background: #4BBB3E;
        }
        40%,
        69.9% {
            background: rgba(255, 255, 255, 0.7);
        }
        70%,
        to {
            background: #4BBB3E;
        }
    }
    
    @keyframes scrollColor-2 {
        from,
        24% {
            background: #4BBB3E;
        }
        24.2%,
        28% {
            background: #4BBB3E;
        }
        28.2%,
        39.9% {
            background: #4BBB3E;
        }
        40%,
        69.9% {
            background: rgba(255, 255, 255, 0.7);
        }
        70%,
        to {
            background: #4BBB3E;
        }
    }
    
    @-webkit-keyframes scrollColor-3 {
        from,
        53.8% {
            background: #4BBB3E;
        }
        54%,
        57.8% {
            background: #4BBB3E;
        }
        58%,
        69.9% {
            background: #4BBB3E;
        }
        70%,
        99.9% {
            background: rgba(255, 255, 255, 0.7);
        }
        to {
            background: #4BBB3E;
        }
    }
    
    @keyframes scrollColor-3 {
        from,
        53.8% {
            background: #4BBB3E;
        }
        54%,
        57.8% {
            background: #4BBB3E;
        }
        58%,
        69.9% {
            background: #4BBB3E;
        }
        70%,
        99.9% {
            background: rgba(255, 255, 255, 0.7);
        }
        to {
            background: #4BBB3E;
        }
    }
    
    @-webkit-keyframes scrollBackToTop {
        from,
        30% {
            -webkit-transform: translate(0, 0px);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate(0, 0px);
            transform: translate3d(0, 0px, 0);
            background: rgba(255, 255, 255, 0.2);
        }
        40%,
        60% {
            -webkit-transform: translate(0, -170px);
            -webkit-transform: translate3d(0, -170px, 0);
            transform: translate(0, -170px);
            transform: translate3d(0, -170px, 0);
        }
        70%,
        90% {
            -webkit-transform: translate(0, -340px);
            -webkit-transform: translate3d(0, -340px, 0);
            transform: translate(0, -340px);
            transform: translate3d(0, -340px, 0);
        }
        84.8% {
            background: rgba(255, 255, 255, 0.2);
        }
        85%,
        88.8% {
            background: rgba(255, 255, 255, 0.5);
        }
        89% {
            background: rgba(255, 255, 255, 0.2);
        }
        to {
            -webkit-transform: translate(0, 0px);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate(0, 0px);
            transform: translate3d(0, 0px, 0);
            background: rgba(255, 255, 255, 0.2);
        }
    }
    
    @keyframes scrollBackToTop {
        from,
        30% {
            -webkit-transform: translate(0, 0px);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate(0, 0px);
            transform: translate3d(0, 0px, 0);
            background: rgba(255, 255, 255, 0.2);
        }
        40%,
        60% {
            -webkit-transform: translate(0, -170px);
            -webkit-transform: translate3d(0, -170px, 0);
            transform: translate(0, -170px);
            transform: translate3d(0, -170px, 0);
        }
        70%,
        90% {
            -webkit-transform: translate(0, -340px);
            -webkit-transform: translate3d(0, -340px, 0);
            transform: translate(0, -340px);
            transform: translate3d(0, -340px, 0);
        }
        84.8% {
            background: rgba(255, 255, 255, 0.2);
        }
        85%,
        88.8% {
            background: rgba(255, 255, 255, 0.5);
        }
        89% {
            background: rgba(255, 255, 255, 0.2);
        }
        to {
            -webkit-transform: translate(0, 0px);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate(0, 0px);
            transform: translate3d(0, 0px, 0);
            background: rgba(255, 255, 255, 0.2);
        }
    }
    
    @-webkit-keyframes scrollCursor {
        from {
            -webkit-transform: translate(-50%, 236px);
            -webkit-transform: translate3d(-50%, 236px, 0);
            transform: translate(-50%, 236px);
            transform: translate3d(-50%, 236px, 0);
        }
        15%,
        30% {
            -webkit-transform: translate(-50%, 0);
            -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate(-50%, 0);
            transform: translate3d(-50%, 0, 0);
        }
        35%,
        65% {
            -webkit-transform: translate(50%, 0);
            -webkit-transform: translate3d(50%, 0, 0);
            transform: translate(50%, 0);
            transform: translate3d(50%, 0, 0);
        }
        78%,
        to {
            -webkit-transform: translate(-50%, 236px);
            -webkit-transform: translate3d(-50%, 236px, 0);
            transform: translate(-50%, 236px);
            transform: translate3d(-50%, 236px, 0);
        }
    }
    
    @keyframes scrollCursor {
        from {
            -webkit-transform: translate(-50%, 236px);
            -webkit-transform: translate3d(-50%, 236px, 0);
            transform: translate(-50%, 236px);
            transform: translate3d(-50%, 236px, 0);
        }
        15%,
        30% {
            -webkit-transform: translate(-50%, 0);
            -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate(-50%, 0);
            transform: translate3d(-50%, 0, 0);
        }
        35%,
        65% {
            -webkit-transform: translate(50%, 0);
            -webkit-transform: translate3d(50%, 0, 0);
            transform: translate(50%, 0);
            transform: translate3d(50%, 0, 0);
        }
        78%,
        to {
            -webkit-transform: translate(-50%, 236px);
            -webkit-transform: translate3d(-50%, 236px, 0);
            transform: translate(-50%, 236px);
            transform: translate3d(-50%, 236px, 0);
        }
    }
    
    @-webkit-keyframes focusDemo {
        from,
        30% {
            -webkit-transform: translate(0, 0px);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate(0, 0px);
            transform: translate3d(0, 0px, 0);
        }
        40%,
        to {
            -webkit-transform: translate(0, -170px);
            -webkit-transform: translate3d(0, -170px, 0);
            transform: translate(0, -170px);
            transform: translate3d(0, -170px, 0);
        }
    }
    
    @keyframes focusDemo {
        from,
        30% {
            -webkit-transform: translate(0, 0px);
            -webkit-transform: translate3d(0, 0px, 0);
            transform: translate(0, 0px);
            transform: translate3d(0, 0px, 0);
        }
        40%,
        to {
            -webkit-transform: translate(0, -170px);
            -webkit-transform: translate3d(0, -170px, 0);
            transform: translate(0, -170px);
            transform: translate3d(0, -170px, 0);
        }
    }
    
    @-webkit-keyframes focusColor-1 {
        from,
        39.9% {
            background: #d3d6e5;
        }
        40%,
        to {
            background: #F3F4F8;
        }
    }
    
    @keyframes focusColor-1 {
        from,
        39.9% {
            background: #d3d6e5;
        }
        40%,
        to {
            background: #F3F4F8;
        }
    }
    
    @-webkit-keyframes focusColor-2 {
        from,
        24% {
            background: #F3F4F8;
        }
        24.2%,
        28% {
            background: #dcdfeb;
        }
        28.2%,
        40% {
            background: #F3F4F8;
        }
        40.1%,
        to {
            background: #d3d6e5;
        }
    }
    
    @keyframes focusColor-2 {
        from,
        24% {
            background: #F3F4F8;
        }
        24.2%,
        28% {
            background: #dcdfeb;
        }
        28.2%,
        40% {
            background: #F3F4F8;
        }
        40.1%,
        to {
            background: #d3d6e5;
        }
    }
    
    @-webkit-keyframes focusHeaderColor {
        from,
        40% {
            background: #dcdfeb;
        }
        40.2%,
        70% {
            background: #4BBB3E;
        }
        75%,
        to {
            background: #dcdfeb;
        }
    }
    
    @keyframes focusHeaderColor {
        from,
        40% {
            background: #dcdfeb;
        }
        40.2%,
        70% {
            background: #4BBB3E;
        }
        75%,
        to {
            background: #dcdfeb;
        }
    }
    
    @-webkit-keyframes focusCursor {
        from {
            -webkit-transform: translate(-50%, 200px);
            -webkit-transform: translate3d(-50%, 200px, 0);
            transform: translate(-50%, 200px);
            transform: translate3d(-50%, 200px, 0);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        15%,
        30% {
            opacity: 1;
            -webkit-transform: translate(-10%, 0);
            -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate(-10%, 0);
            transform: translate3d(-10%, 0, 0);
        }
        45%,
        to {
            opacity: 0;
        }
    }
    
    @keyframes focusCursor {
        from {
            -webkit-transform: translate(-50%, 200px);
            -webkit-transform: translate3d(-50%, 200px, 0);
            transform: translate(-50%, 200px);
            transform: translate3d(-50%, 200px, 0);
            opacity: 0;
        }
        10% {
            opacity: 1;
        }
        15%,
        30% {
            opacity: 1;
            -webkit-transform: translate(-10%, 0);
            -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate(-10%, 0);
            transform: translate3d(-10%, 0, 0);
        }
        45%,
        to {
            opacity: 0;
        }
    }
    
    .highlight {
        padding: 9px 14px;
        margin-bottom: 14px;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
        border-radius: 4px;
    }
    
    .highlight pre {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        word-break: normal;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
    
    .highlight pre code {
        font-size: inherit;
        color: #333;
    }
    
    .highlight pre code:first-child {
        display: inline-block;
        padding-right: 45px;
    }
    
    .footerLinks ul {
        list-style-type: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2em;
        margin: 0;
        padding: 0
    }
    
    .footerLinks li {
        display: inline;
        text-align: center;
        list-style: none;
        display: inline-block;
        margin: 0 5px
    }
    
    .footerLinks a {
        color: #d9d9d9;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
    }
    
    .fa {
        display: inline-block;
        vertical-align: middle;
        border-radius: 48px;
        height: 52px;
        line-height: 44px;
        width: 52px;
        margin: 20px 5px;
    }
    
    .copyright {
        text-align: center;
    }
    
    .copyright p {
        color: #b3b3b3;
        font-size: 11px;
    }
    
    .main {
        background-position: center center;
        background-size: cover;
        height: auto;
        left: 0;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 0;
        width: auto;
    }
    
    .btn {
        border-width: 2px;
        background-color: rgb(22, 88, 32, .8);
        font-weight: 400;
        opacity: 0.8;
        padding: 8px 16px;
    }
    
    .btn-danger {
        color: rgb(22, 88, 32, .8);
        border-color: rgb(22, 88, 32, .8);
    }
    
    .btn:hover {
        background-color: rgb(22, 88, 32, .8);
        opacity: 1;
    }
    
    .btn-danger:hover,
    .btn-danger:focus,
    .btn-danger:active {
        color: rgb(22, 88, 32, .8);
        border-color: rgb(22, 88, 32, .8);
        background-color: rgb(22, 88, 32, .8);
    }
    
    .btn:active {
        background-image: none;
        box-shadow: none;
    }
    /*           Buttons fill .btn-fill           */
    
    .btn-fill {
        color: #FFFFFF;
        opacity: 1;
    }
    
    .btn-fill:hover,
    .btn-fill:active,
    .btn-fill:focus {
        color: #FFFFFF;
    }
    
    .btn-danger.btn-fill {
        /* background-color: rgb(22, 88, 32, .8);
    border-color: rgb(22, 88, 32, .8); */
        background-color: rgba(255, 255, 255, 0.07);
        border: 1px solid rgba(238, 238, 238, 0.27);
        color: #FFFFFF;
    }
    
    .btn-danger.btn-fill:hover,
    .btn-danger.btn-fill:focus,
    .btn-danger.btn-fill:active {
        background-color: rgba(255, 255, 255, 0.07);
        border-color: #FFFFFF;
    }
    
    .form-control {
        background-color: #FFFFFF;
        border: 1px solid #E3E3E3;
        border-radius: 4px;
        box-shadow: none;
        color: #444444;
        height: 38px;
        padding: 6px 16px;
    }
    
    .form-control:focus {
        background-color: #FFFFFF;
        border: 1px solid #9A9A9A;
        box-shadow: none;
        outline: 0 none;
    }
    
    .form-control.transparent {
        background-color: rgba(255, 255, 255, 0.07);
        border: 1px solid rgba(238, 238, 238, 0.27);
        color: #FFFFFF;
    }
    
    .form-control.transparent:focus {
        border-color: #FFFFFF;
    }
    
    .form-control::-moz-placeholder {
        color: #ffffff;
        opacity: 1;
    }
    
    .form-control:-moz-placeholder {
        color: #ffffff;
        opacity: 1;
    }
    
    .form-control::-webkit-input-placeholder {
        color: #ffffff;
        opacity: 1;
    }
    
    .form-control:-ms-input-placeholder {
        color: #ffffff;
        opacity: 1;
    }
    
    form {
        text-align: center;
    }
    
    .cover.black {
        background-color: rgba(0, 0, 0, .6);
    }
