<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile currentTable" data-module="SignUp">
    <tr>
        <td width="100%" height="100" align="center" class="editable">
            <!-- Space -->

            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
                <tr>
                    <td width="100%" height="0">
                    </td>
                </tr>
            </table>
            <!-- End Space -->



            <!-- Space -->

            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
                <tr>
                    <td width="100%" height="50">
                    </td>
                </tr>
            </table>
            <!-- End Space -->

            <!-- Shadow -->

            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="full" style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;">
                <tr>
                    <td width="100%" style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75); -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75); box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.10);" bgcolor="#ffffff">
                        <!-- SORTABLE -->

                        <div class="sortable_inner ui-sortable">
                            <!-- Start Top -->

                            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile" bgcolor="#ffffff" style="-webkit-border-top-right-radius: 6px; -moz-border-top-right-radius: 6px; border-top-right-radius: 6px; -webkit-border-top-left-radius: 6px; -moz-border-top-left-radius: 6px; border-top-left-radius: 6px;"
                                id="not1ChangeBG">
                                <tr>
                                    <td width="100%" valign="middle" align="center" class="fullCenter">
                                        <!-- Header Text -->

                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                            <tr>
                                                <td width="100%" height="50">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" height="20" style="font-size: 1px; line-height: 1px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" style="width:329px; height:auto;" class="fullCenter">
                                                    <img src="/images/pexels-photo-131723.jpeg" width="329" alt="illustration" border="0" class="hover" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="100%" height="50" style="font-size: 1px; line-height: 1px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile" bgcolor="#ffffff">
                                <tr>
                                    <td width="100%" valign="middle" align="center">
                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                            <tr>
                                                <td valign="middle" width="100%" style="text-align: center; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 20px; color: #353535; line-height: 40px; font-weight: 400;" class="fullCenter">
                                                    <span style="color:#00d4ff;"></span> Welcome to FreshAir
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile" bgcolor="#ffffff">
                                <tr>
                                    <td width="100%" valign="middle" align="center">
                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                            <tr>
                                                <td width="100%" height="25" style="font-size: 1px; line-height: 1px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile" bgcolor="#ffffff">
                                <tr>
                                    <td width="100%" valign="middle" align="center">
                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                                            <tr>
                                                <td valign="middle" width="100%" style="text-align: left; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 16px; color: #868585; line-height: 24px; font-weight: 400;">
                                                    You've been added to our mailing list. We're happy to report that you will be among the first to hear about our upcoming development. Stay tuned!
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile" bgcolor="#ffffff">
                                <tr>
                                    <td width="100%" valign="middle" align="center">
                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                            <tr>
                                                <td width="100%" height="15" style="font-size: 1px; line-height: 1px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile" bgcolor="#ffffff">
                                <tr>
                                    <td width="100%" valign="middle" align="center">
                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">

                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile" bgcolor="#ffffff">
                                <tr>
                                    <td width="100%" valign="middle" align="center">
                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                            <tr>
                                                <td width="100%" height="30" style="font-size: 1px; line-height: 1px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile" bgcolor="#ffffff">
                                <tr>
                                    <td width="100%" valign="middle" align="center">
                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                            <tr>
                                                <td width="100%" align="center">
                                                    <table border="0" cellpadding="0" cellspacing="0" align="center" class="buttonScale">
                                                        <tr>

                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table width="400" border="0" cellpadding="0" cellspacing="0" align="center" class="mobile" bgcolor="#ffffff" style="-webkit-border-bottom-right-radius: 6px; -moz-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; -webkit-border-bottom-left-radius: 6px; -moz-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px;">
                                <tr>
                                    <td width="100%" valign="middle" align="center">
                                        <table width="300" border="0" cellpadding="0" cellspacing="0" align="center" style="text-align: center; border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;" class="fullCenter">
                                            <tr>
                                                <td width="100%" height="50" style="font-size: 1px; line-height: 1px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- End Shadow -->

            <!-- CopyRight -->

            <table width="352" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
                <tr>
                    <td width="100%" height="25" style="font-size: 1px; line-height: 1px;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td valign="middle" width="100%" style="text-align: center; font-family: 'Lato', Helvetica, Arial, sans-serif; color: rgb(165, 168, 174); font-size: 12px; font-weight: 400; line-height: 18px;" class="fullCenter">
                        <i></i><br /> Copyright FreshAir LLC 2018
                    </td>
                </tr>
            </table>
            <table width="352" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
                <tr>
                    <td width="100%" height="20" style="font-size: 1px; line-height: 1px;">
                        &nbsp;
                    </td>
                </tr>

            </table>
            <table width="352" border="0" cellpadding="0" cellspacing="0" align="center" class="full">
                <tr>
                    <td width="100%" height="60" style="font-size: 1px; line-height: 1px;">
                        &nbsp;
                    </td>
                </tr>
            </table>
            <!-- End CopyRight -->

        </td>
    </tr>
</table>
